Source: pyat
Maintainer: VRT Systems <support@vrt.com.au>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7), debhelper (>= 9), dh-python, python-six
Standards-Version: 3.9.1
X-Python-Version: >= 2.7

Package: python-at
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-six
Description: Python scheduling library
